/* Add CSS styling here */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    color:#D6D86E;
    /* border: 1px solid black; */
    text-decoration: none;
}

html{
    font-size: 16px;
}

body{
    background-color:#3F5479;
}
header{
    background-color: black;
    font-size:30px;
    padding-top: 5%;
    padding-left: 10px;
    display: flex;
    flex-flow: column wrap;
}

.navbar{
    width: 100%;
    height: 30px;
    background-color: #7F2879;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

.navbar a{
    font-size: 20px;
    background-color: #3F5479;
    border: 3px solid black;
}

.about{
    border: 10px solid black;
    display: flex;
    flex-flow: row nowrap;
    /* align-items: flex-end; */
}
.img_container{
    width: 30%;
}
.about_me{
    padding-left: 10px;
    font-size: 20px;
    width: 50%;
    height: 100%;
}

.proj_nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.proj_nav div{
    width: 50%;
    height: 25%;
}


.hidden_button{
    background-color: #7F2879;
    font-size: 20px;
}
.hidden_button:hover{
    background-color:#3F5479;
    color: #7F2879
}

footer{

    padding-bottom: 0;
    background-color: black;
    height: 200px;
}

footer div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.email{
    font-size: 30px;
    background-color: #3F5479;
}

.linkedin{
    font-size: 30px;
    background-color: #3F5479;
}

.git{
    font-size: 30px;
    background-color: #3F5479;
}