/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* font-family: 'Rubik', sans-serif; */

*{
    box-sizing: border-box;
    max-width: 100%;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body{
    line-height: 1.5;
    font-size: 1.8rem;
    background-image: url(../assets/ball_img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #3F5479;
    color: #D6D86E;
}

h2{
    font-size: 4rem;
    text-align: center;
}

a{
    text-decoration: none;
    color:#D6D86E;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #7F2879;
}

.logo{
    width: 10%;
    background-color:#3F5479;
}

.logo img{
    width: 40%;
}

.links{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

header{
    height: 100vh;
    width: 60vw;
    font-size: 5rem;
    display: flex;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: left;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}
header p{
    font-size: 3rem;
}

.introduction{
    padding-left: 5%;
}

#about{
    height: 70vh;
    display: flex;
    background-color: #3F5479;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 20% 0; */
}

.about_text{
    width: 50%;
    height: 70vh;
    margin: 2%;
}

.about_img{
    width: 50%;
    margin: 2%;
    background-image: url(../assets/snail_logo.png);
    background-repeat: no-repeat;
}

.row{
    background-color: #3F5479;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.proj{
    text-align: center;
}

footer{
    height: 30vh;
    background-color: black;
}

footer div{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .about_img{
        height: 50%;
        width: 100%;
    }
    .about_text{
        height: 50%;
        width: 100%;
    }
    #about{
        width:100%;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    body{
        background-image: none;
        background-color: black;
    }
    header{
        width: 100vw;
    }
    .logo{
        display: none;
    }
}